.avatar
  background-size cover
  background-position center
  background-repeat no-repeat
  border-radius 50%
  display block
  overflow hidden

.avatar--menu
  width 20vmin
  height 20vmin
  margin 10px auto
  svg
    fill url(#mainGradient)
