button
  border none
  padding 5px
  color white
  padding 5px 15px
  border-radius 2px
  cursor pointer
  display block

.button
    background transparent
    color color-text
    border-radius 4px
    border 1px solid color-main

.button--classic
  cursor pointer
  &.button--active
    fill #0e1543
    transition .3s
    color #0e1543
  &:disabled
    opacity .6
    cursor none

.button--login
  margin 10px auto
  width 30%
  transition .3s background
  &:hover
    background color-main--dark

.button--logout
  background transparent
  color color-text
  fill color-text
  display flex
  align-items center
  padding 10px

.button--another-step
  width 100%
  text-align center
  opacity .6
  background transparent
  color color-text
  transition .3s opacity
  &:hover
    opacity 1
