input 
  border none
  padding 10px
  border-bottom 1px solid color-main
  background transparent

.input--search
  border 1px solid color-main
  border-radius 20px
  padding-right 10px
  display flex
  input 
    border none
    width 100%
