input
  border none
  padding 10px
  background transparent

.input
  position relative

.input--error
  margin-bottom 10px
  .highlight
    background red
    color red

.input__body
  position relative
  transition .3s margin-bottom

.input-search
  border 1px solid color-main
  border-radius 20px
  padding-right 10px
  display flex
  input
    border none
    width 100%
