input
  border none
  padding 10px
  background transparent

.input__body
  position relative

.input--error
  .highlight
    background red
    color red

.input-search
  border 1px solid color-main
  border-radius 20px
  padding-right 10px
  display flex
  input
    border none
    width 100%
