.toggle
  position relative
  cursor pointer
  display block
  .toggle__icon, .toggle__text
    font-size 11px
    position absolute
    top 50%
    transform translateY(-50%)
    z-index 2
    &:first-child
      left 4px
    &:nth-child(3)
      right 4px


.toggle--classic
  height 20px
  width 40px
  border-radius 20px
  .toggle__item
    width 20px
    height 20px
    border-radius 50%
    transition .3s
  &.toggle--active
    .toggle__item
      transform translateX(100%)

.toggle--arrow
  height 20px
  width 20px
  display flex
  align-item center
  justify-content center
  border-radius 20px
  .icon--arrow
    transition .3s
  &.toggle--active
    .icon--arrow
      transform translateY(-50%) rotate(180deg)

.toggle--plus
  height 30px
  width 30px
  display flex
  align-item center
  justify-content center
  border-radius 20px
  &::before, &::after
    content ''
    position absolute
    display block
    width 80%
    height 3px
    background white
    border-radius 3px
  &::after
    transform rotate(90deg)
  &.toggle--active
    &::after
      transform rotate(0deg)