.input--upload
  label
    text-indent 10px
  .highlight__line--bottom
    width calc(100% - 20px)
  .input--error
    .input__upload-block-icon
      background color-error
      svg
        fill-main--lightest('dark')
        stroke-main--lightest('dark')

.upload-title
  max-width calc(100% - 50px)
  white-space nowrap
  overflow hidden
  text-overflow ellipsis

.input__upload-block-icon
  background color-main--dark
  width input-height
  height input-height
  float right
  border-radius 50%
