.upload-title
  max-width calc(100% - 50px)
  white-space nowrap
  overflow hidden
  text-overflow ellipsis


.upload-block
  background color-main--dark
  display block
  width 40px
  height 40px
  float right
