.w-100
  width 100%

.ta-center
  text-align center

.main-content
  padding 10px
  min-height 100vh
  transition .4s margin-left

.center-position
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)

.one-page
  width 100vw
  height 100vh
  overflow hidden
  position relative
  .parallax-container
    display none
    perspective none

.size-fullscreen
  width 100%
  position absolute
  height 100%

.open-menu--margin
  margin-left size-menu

.mr--2
  margin-right 10px

.mt--1
  margin-top 5px

.lh-0
  line-height 0

.ai-center
  align-items center
  display flex

.space-between
  display flex
  justify-content space-between
