forText = "DINPro-Light", Sans
forBigTitle = "Code-Pro-Light", Sans

color-main = #18DDFF
color-main--light = #58E6FF
color-main--lighter = #d1eaff
color-main--lightest = #c0f6ff
color-main--dark = #0CA0F0
//color-main--darker = #042e45
color-main--darkest = #042e45

color-text = #202020
color-text--another = #13111C
color-background = ghostwhite
//color-background--light = #fff7f7
//color-background--da = #fff7f7
color-active-link = #36a2fd
color-background--second = #aad8ff


size-menu = 200px
size-menu--minimize = 50px
