forText = "DINPro-Light", Sans
forBigTitle = "Code-Pro-Light", Sans

color-main = #18DDFF
color-main--light = #58E6FF
color-main--dark = #0CA0F0

color-text = #202020
color-text--another = #13111C
color-background = ghostwhite

size-menu = 250px
