.dark-theme
  color #f4faff
  background-color #0d0b14
  stroke color-main--light
  fill color-main--light
  .menu__link
    background-color #1d192e
  .mobal__background
    background rgba(0,0,0,.9)
  .icon-background
    fill @background-color
    stroke @background-color
  .bgc-main
    background-color #36a2fd
  .bgc-main--second
    background-color #181526
  .bgc-main--lightest
    background-color #1d1930
    &.button--active
      background-color #26203f
  .bgc-light
    background-color #130f21
  .bgc-dark
    background-color #194a71
  .color-dark-link
    color #1a6892
  .icon-darker
    fill #1a6892
    stroke #1a6892
  .icon-darkest
    fill #0d0b14
    stroke #0d0b14
  .button--classic
    &.button--active
      fill #58e6ff
      stroke #58e6ff
      color #58e6ff

  //.button
    //fill #58e6ff
    //stroke #58e6ff
    // fill #1a6892
    // stroke #1a6892

  //& .menu__icon
    //filter drop-shadow(0 0 3px rgba(0,0,0,.5))

