.dark-theme
  color #f4faff
  bgc('dark')
  stroke color-main--light
  fill color-main--light
  .toggle
    bgc--dark('dark')
  .toggle--classic
    border-color transparent
  .toggle--arrow
    bgc-main('dark')
  .menu__link
    background-color #1d192e
  .icon-background
    fill @background-color
    stroke @background-color

  .bgc
    bgc('dark')
  .bgc-main
    bgc-main('dark')
  .bgc-main--light
    bgc-main--light('dark')
  .bgc-main--lighter
    bgc-main--lighter('dark')
  .bgc-main--lightest
    bgc-main--lightest('dark')
    &.button--active
      background-color #26203f

  .mobal__background
    background rgba(0,0,0,.9)
  .bgc--light
    background-color #130f21
  .bgc--dark
    bgc--dark('dark')


  .color-dark-link
    color #1a6892
  .icon-darker
    fill #1a6892
    stroke #1a6892
  .icon-darkest
    fill #0d0b14
    stroke #0d0b14
  
  .form--autumn
    background rgba(0, 0, 0, .3)
    border none
  .button
    bgc-main--lighter('dark')
    color white
    border-color transparent
  .button--classic
    &.button--active
      fill #58e6ff
      stroke #58e6ff
      color #58e6ff