bgc-main()
  background-color color-background

bgc-dark()
  background-color color-main--dark

bgc-main--second()
  background-color color-background--second

bgc-main--lightest()
  background-color color-main--lightest


color-light()
  color color-background

color-dark-link()
  color color-main--darkest

body
  background-color color-background
  color color-text
  border-color color-main
  stroke color-main--dark
  fill color-main--dark
  a:visited
    stroke color-main--dark
    fill color-main--dark
  .color-light
    color-light()
  .color-dark-link
    color-dark-link() 
  .bgc-main
    bgc-main()
  .bgc-main--second
    bgc-main--second()
  .bgc-main--lightest
    bgc-main--lightest()
  .bgc-light
    background-color #0b518c
  .bgc-dark
    bgc-dark()
  .icon-darkest
    fill color-main--darkest
    stroke color-main--darkest
  .icon-background
    fill color-background
    stroke color-background
  .icon-dark
    fill color-main--dark
    stroke color-main--dark
  .menu--main
    background-color #c0e2ff
    .menu__link, svg
      color color-main--darkest
      fill color-main--darkest
      stroke color-main--darkest
    & .nuxt-link-active 
      color color-active-link
      *
        color color-active-link
      .menu__icon
        fill color-active-link
        stroke color-active-link
        filter drop-shadow(0 0 3px currentColor)
