// colorMixin(property, colors, theme)
//   if theme == 'dark'
//     property colors[1]
//   else
//     property colors[0]

bgc(theme = '')
  if theme == 'dark'
    background-color #0d0b14
  else
    background-color color-background

bgc--dark(theme = '')
  if theme == 'dark'
    background-color #194a71
  else
    background-color color-background--dark


bgc-main(theme = '')
  if theme == 'dark'
    background-color #36a2fd
  else
    background-color color-main

bgc-main--dark(theme = '')
  if theme == 'dark'
    background-color #181526
  else
    background-color color-main--dark

bgc-main--light(theme = '')
  if theme == 'dark'
    background-color #181526
  else
    background-color color-main--light

bgc-main--lighter(theme = '')
  if theme == 'dark'
    background-color #181526
  else
    background-color color-main--lighter

bgc-main--lightest(theme = '')
  if theme == 'dark'
    background-color #1d1930
  else
    background-color color-main--lightest

fill-main--lightest(theme = '')
  if theme == 'dark'
    fill #1d1930
  else
    fill color-main--lightest

stroke-main--lightest(theme = '')
  if theme == 'dark'
    stroke #1d1930
  else
    stroke color-main--lightest

color-light(theme = '')
  if theme == 'dark'
    background-color #181526
  else
    color color-background

color-dark-link(theme = '')
  if theme == 'dark'
    background-color #181526
  else
    color color-main--darkest

body
  bgc()
  color color-text
  border-color color-main
  stroke color-main--dark
  fill color-main--dark
  a:visited
    stroke color-main--dark
    fill color-main--dark
  .color-light
    color-light()
  .color-dark-link
    color-dark-link() 
  .bgc
    bgc()
  .bgc-main
    bgc-main()
  .bgc-main--dark
    bgc-main--dark()
  .bgc-main--lighter
    bgc-main--lighter()
  .bgc-main--light
    bgc-main--light()
  .bgc-main--lightest
    bgc-main--lightest()
  .bgc-light
    background-color #0b518c
  .bgc--dark
    bgc--dark()
  .icon-darkest
    fill color-main--darkest
    stroke color-main--darkest
  .icon-background
    fill color-background
    stroke color-background
  .icon-dark
    fill color-main--dark
    stroke color-main--dark
  .menu--main
    background-color white
    box-shadow 0 0 3px rgba(0, 0, 0, .3)
    .menu__link, svg
      color color-main--darkest
      fill color-main--darkest
      stroke color-main--darkest
    & .nuxt-link-active 
      color color-active-link
      *
        color color-active-link
      .menu__icon
        fill color-active-link
        stroke color-active-link
        filter drop-shadow(0 0 1px currentColor)