.w-100
  width 100%

.pointer
  cursor pointer

.ta-center
  text-align center

.flex
  display flex

.ai-center
  align-items center
  display flex

.flex-center
  display flex
  justify-content center
  align-items center

.jc-space-between
  justify-content space-between
  display flex

.fd-column
  flex-direction column
  display flex

.space-between
  display flex
  justify-content space-between

.lh-0
  line-height 0

.d-n
  display none

.position-center
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)

@import './theme/light'
@import './theme/dark'

@import './animation'
@import './size'

@import './blocks/container'
@import './blocks/icon'
@import './blocks/page'
@import './blocks/error'
@import './blocks/tabs'

@import './fonts/highlight'
@import './fonts/text'
@import './fonts/fonts'

@import './media'