.w-100
  width 100%

.pointer
  cursor pointer

.ta-center
  text-align center

.position-center
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)

.flex
  display flex

.ai-center
  align-items center
  display flex

.flex-center
  display flex
  justify-content center
  align-items center

.jc-space-between
  justify-content space-between
  display flex

.fd-column
  flex-direction column
  display flex

.space-between
  display flex
  justify-content space-between

.lh-0
  line-height 0

.d-n
  display none

.br-1
  border-radius size-1

determine-size(property, direction, size)
  if (property == 'p')
    property = 'padding'
  if (property == 'm')
    property = 'margin'

  if (direction == 't')
    direction = 'top'
  else if (direction == 'r')
    direction = 'right'
  else if (direction == 'b')
    direction = 'bottom'
  else if (direction == 'l')
    direction = 'left'

  if (direction == 'x')
    size = 0 size
    direction = false
  if (direction == 'y')
    size = size 0
    direction = false

  if (direction)
    {property}-{direction} size
  else
    {property} size



size = 0 5px 10px 14px 17px 23px
directions = '' 'x' 'y' 't' 'r' 'b' 'l'
properties = 'p' 'm'

size-2 = 10px
size-1 = 5px

for property in properties
  for direction in directions
    for row in 0..5
      .{property}{direction}-{row}
        determine-size(property, direction, size[row])

// .p-2
//   padding size-2

// .px-2
//   padding-right size-2
//   padding-left size-2

// .py-2
//   padding-top size-2
//   padding-bottom size-2

// .pt-2
//   padding-top size-2

// .pr-2
//   padding-right size-2

// .pb-2
//   padding-bottom size-2

// .pl-2
//   padding-left size-2

// .mt-2
//   margin-top size-2

// .mr-2
//   margin-right size-2

// .mb-2
//   margin-bottom size-2

// .ml-2
//   margin-left size-2

// .mt-1
//   margin-top 5px

// .mr-1
//   margin-right 5px

// .mb-1
//   margin-bottom 5px

// .ml-1
//   margin-left 5px
